body{
	font-family: montserrat, sans-serif;
}
.clearfix{
	content: "";
	display: table;
	clear: both;
}
.upper{
	text-transform: uppercase;
}
.cap{
	text-transform: capitalize;
}
a:link{
	color: #111;
	text-decoration: none;
}
a:visited{
	color: #111;
}
a:hover{
	color: #333;
	/*opacity: 0.3;*/
}
a:active{
	color: #555;
	/*opacity: 0.6;*/
}
.container{
	width: 80%;
	margin: 0 auto;
}
header{
	background-color: #ffa800;
}
header ul{
	float: right;
}
header ul.nav{
	width: 60%;
}
/*header ul.social{
	width: 20%;
}*/
header li{
	display: inline-block;
	text-transform: uppercase;
	color: #111;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5%;
	font-size: 0.8em;
}
header .logo{
	width: 30%;
}
.banner{
	background-image: url(images/homepage-cover.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
}
.banner-child{
	width: 80%;
	margin: 0 auto;
}
.invite{
	width: 40%;
	height: 40%;
	float: right;
	background: white;
	margin: 5% 0;
	text-align: center;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	padding-bottom: 2em;
}
.invite h2{
	/*margin-top: 1em;*/
	font-size: 1.25em;
	/*background-color: green;*/
}
/*
.invite h2:before{
	content: "";
	display: block;
	height: 1px;
	background-color: black;
	z-index: -10;
	position: relative;
	top: 10px;
}*/
.invite h1{
	font-size: 2.5em;
	line-height: 1.1em;
	font-weight: bold;
	margin-top: 0.375em;
	margin-bottom: 0.375em;
}
.invite p{
	font-family: lucida sans;
	line-height: 1.1em;
	font-size: 1em;
	font-weight: lighter;
}
.invite .button{
	margin-top: 2em;
}
.invite .button a{
	padding: 0.5em 1.5em;
	background-color: #ffa800;
	border-radius: 50px;
	font-weight: bold;
}

.mid-container{
	width: 90%;
	margin: 0 auto;
}
main{
	width: 65%;
	float: left;
	/*margin: 2%;*/
}
aside{
	width: 35%;
	float: right;
}
aside>div{
	width: 90%;
	margin: 0 auto;
}
article{
	width: 95%;
	margin: 3em auto;
	border-bottom: 1px solid black;
}
article .category{
	margin-bottom: 1em;
	text-transform: uppercase;
	font-size: 0.875em;
	/*font-weight: bold;*/
	color: #dd8f00;
	text-align: center;
}
article h1{
	text-transform: capitalize;
	font-size: 2em;
	line-height: 1.3em;
	font-weight: bolder;
	text-align: center;
}
article .author{
	font-family: "roboto";
	text-align: center;
	font-weight: lighter;
	font-size: 0.875em;
	text-transform: capitalize;
	margin-top: 1em;
	margin-bottom: 1em;
}
article img{
	margin: 1% 3%;
	width: 94%;
}
article .para{
	margin: 1em;
	font-family: "open sans";
	/*font-weight: 700;*/
	font-size: 1.125em;
	line-height: 1.5em;
	letter-spacing: -0.02em;
	word-spacing: 0.1em;
	/*background: red;*/
}
.more{
	margin-bottom: 3em;
	margin-top: 2em;
}
.more a{
	padding: 0.5em 2em;
	margin: 1em;
	/*background-color: */
	border: 1px solid #333;
	
}
.more a:link{
	color: black;
}
.more a:visited{
	color: black;
}
.more a:hover{
	background-color: #333;
	color: #fff;
	transition: 0.2s ease-out;
}
.pages{
	margin-left: 1em;
}
.pages li{
	font-size: 1.5em;
	display: inline-block;
	margin-bottom: 2em;
	margin-right: 0.5em;
}
.pages a{
	padding: 10px 15px; 
	background-color: #333;
	color: #dd8f00;
	border: 1px solid #dd8f00;
}

aside div.search{
	margin: 2em 0;
}
aside input[type="text"]{
	border: 1px solid black;
	padding: 0.5em;
	font-size: 1.125em;
}
aside input[type="submit"]{
	padding: 0.5em 1em;
	font-size: 1.125em;
	background-color: #dd8f00;
	border: none;
	border-radius: 50px;
	/*font-weight: bold;*/
}
.book img{
	width: 100%;
}
.popular{
	margin-top: 2em;
	border: 1px solid #aaa;
}
.popular h2{
	font-size: 1.5em;
	margin-bottom: 1em;
	padding: 0.5em;
}
.popular img{
	display: block;
	margin-bottom: 1em;
	width: 20%;
	float: left;
	padding: 5px;
}
.popular div{
	margin-bottom: 1em;
}
.popular div:not(:last-child){
	border-bottom: 1px solid #aaa;
}
.popular h3{
	text-transform: capitalize;
	line-height: 1.5em;
}
.date{
	font-size: 0.6em;
	padding: 1em;
}
.affiliate img{
	width: 100%;
	margin-top: 2em;
}
.tools{
	margin-top: 1.5em;
	font-size: 1.75em;
	color: #dd8f00;
}
.tools img{
	margin-bottom: 1em;
}
.tools img:nth-child(2){
	margin-top: 1em;
}
.floating a{
	background-color: #dd8f00;
	vertical-align: middle;
	padding-top: 25px;
	/*padding: 10px 0;*/
	/*font-size: 0.7em;*/
	
}
.floating img{
	width: 100%;
	
	/*height: 100%;*/
}
.floating li{
	width: 40px;
	/*margin: 50px;*/
}
ul.floating{
	position: fixed;
	left: 0;
	top: 20%;
}













